/* TODO: override default choices classNames */
/* stylelint-disable selector-class-pattern */

/* Various modifications to Choices rules to use halfmoon variables and the like */
.choices {
    margin-bottom: 0;
    font-size: 1rem;
    border-color: var(--lm-input-border-color);
    border-width: var(--input-border-width);
    border-style: solid;
    border-radius: var(--input-border-radius);
    box-shadow: var(--lm-input-box-shadow);
}

.choices__inner {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--lm-input-text-color);
    background-color: var(--lm-input-bg-color);
    display: block;
    width: 100%;
    height: fit-content;
    padding-left: var(--input-horizontal-padding);
    appearance: none;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    min-height: auto;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: var(--lm-input-border-color-focus);
    box-shadow: var(--lm-input-box-shadow-focus);
    outline: 0;
}

.dark-mode .choices__inner {
    color: var(--dm-input-text-color);
    background-color: var(--dm-input-bg-color);
    border-color: var(--dm-input-border-color);
    box-shadow: var(--dm-input-box-shadow);
}

.choices__input {
    color: var(--lm-input-text-color);
    background-color: var(--lm-input-bg-color);
    border-color: var(--lm-input-border-color);
    font-size: var(--base-font-size);
    padding: 4px 0;
}

.dark-mode .choices__input {
    color: var(--dm-input-text-color);
    background-color: var(--dm-input-bg-color);
    border-color: var(--dm-input-border-color);
}

.fat-free .choices__input {
    margin: 0;
}

.choices[data-type*='select-one'] .choices__input,
.choices__inner:hover,
.choices__inner:hover .choices__input {
    color: var(--lm-input-text-color-hover);
    background-color: var(--lm-input-bg-color-hover);
    border-color: var(--lm-input-border-color-hover);
    box-shadow: var(--lm-input-box-shadow-hover);
}

.dark-mode .choices[data-type*='select-one'] .choices__input,
.dark-mode .choices__inner:hover,
.dark-mode .choices__inner:hover .choices__input {
    color: var(--dm-input-text-color-hover);
    background-color: var(--dm-input-bg-color-hover);
    border-color: var(--dm-input-border-color-hover);
    box-shadow: var(--dm-input-box-shadow-hover);
}

.dark-mode .is-open .choices__inner {
    border-color: var(--dm-input-border-color-focus);
    box-shadow: var(--dm-input-box-shadow-focus);
}

/* "Press to select" is a waste of space */
.choices__list--dropdown .choices__item--selectable::after {
    display: none;
}

.choices__list--dropdown .choices__item--selectable {
    padding: 10px;
}

/* getting rid of the triangle thing because halfmoon has a better one */
.choices[data-type*='select-one']::after {
    content: unset;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--primary-color);
    color: var(--text-color-on-primary-color-bg);
}

.choices__item {
    color: var(--lm-input-text-color);
    background-color: var(--lm-input-bg-color);
}

.dark-mode .choices__item {
    color: var(--dm-input-text-color);
    background-color: var(--dm-input-bg-color);
}

.choices__inner .choices__item {
    background-color: var(--lm-input-bg-color);
    font-size: var(--base-font-size);
}

.choices__list--multiple .choices__item {
    display: inline-block;
    position: relative;
    font-size: var(--badge-font-size);
    line-height: var(--badge-line-height);
    padding: var(--badge-padding);
    border: var(--badge-border-width) solid var(--lm-badge-border-color);
    border-radius: var(--badge-border-radius);
    color: var(--lm-badge-success-text-color);
    background-color: var(--lm-badge-success-bg-color);
    border-color: var(--lm-badge-success-border-color);
}

/** avoid clashing with episode filter **/
.choices__list--dropdown,
.choices__list[aria-expanded] {
    z-index: 2;
}

.choices__list--single {
    padding: 0;
}

.choices__list.choices__list--single .choices__item {
    background: inherit;
    height: var(--input-height);
    align-items: center;
}

.choices[data-type*='select-one'] .choices__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.choices[data-type*='select-one'] {
    height: var(--input-height);
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: var(--green-color-dark);
    border: 1px solid var(--green-color-dark);
}

.choices[data-type*='select-multiple'] .choices__button,
.choices[data-type*='text'] .choices__button {
    border: 1px solid var(--green-color-dark);
}

.choices__heading {
    border: none;
}

.choices .choices__list .choices__group {
    background-color: var(--lm-button-bg-color);
}

/* Cancel button interferes with the placeholder being cut off */
.choices__input::-webkit-search-cancel-button {
    display: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
}
/* stylelint-enable selector-class-pattern */
