:root {
    --base-font-size: 1.2rem;
    --content-and-card-spacing: 1rem;
    --cover: url('/assets/img/placeholder.webp');
    --scrollbar-width: auto;
    --scrollbar-color: var(--lm-primary-color) var(--lm-base-body-bg-color);
}

.dark-mode {
    --scrollbar-color: var(--dm-primary-color) var(--dm-base-body-bg-color);
}

.sidebar, .content-wrapper {
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-color);
}

/* Halfmoon only supports left sided sidebars but we want to give users the ability to choose */
html.sidebar-right .sidebar {
    right: 0;
    left: auto;
    border-left: var(--sidebar-border-width) solid var(--lm-sidebar-border-color);
    border-right: none;
}

html.sidebar-right .page-wrapper.with-sidebar[data-sidebar-hidden] > .sidebar {
    left: auto;
    right: -100%;
}

html.sidebar-right .page-wrapper.with-transitions.with-sidebar > .sidebar {
    transition: right .4s cubic-bezier(.25,.8,.25,1);
}

html.sidebar-right .page-wrapper.with-sidebar > .sidebar + .content-wrapper {
    left: 0;
    right: var(--sidebar-width);
}

@media (width >= 577px) {
    html.sidebar-right nav.navbar .navbar-content:first-child {
        order: 1;
    }
}

@media (width <= 576px) {
    html.sidebar-right nav.navbar {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

/* mfw shit on half screen of 4k display barely readable */
@media (width >= 1279px) {
    html.i-wanna-read-on-4k-halfsize {
        font-size: var(--base-html-font-size-1600);
    }
}

.fat-free {
    --sidebar-width: 20rem;
    --sidebar-content-margin: 1rem;
    --sidebar-menu-vertical-margin: 1rem;
    --input-height: 2.5rem;
    --button-height: 2.5rem;
    --navbar-height: 4rem;
    --scrollbar-width: thin;
}

.fat-free table.dt-table tbody th,
.fat-free table.dt-table tbody td {
    padding: 4px 10px;
}

html.show-covers-on-title-hover table a[style]::after {
    content: "";
    width: 140px;
    background-image: var(--cover);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    height: 200px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -60px;
    margin-left: 10px;
    box-shadow: 0 2px 20px #3136444d;
}

.custom-tooltip, html.show-covers-on-title-hover a[style] {
    position: relative;
}

.custom-tooltip::after {
    content: attr(data-title);
    visibility: hidden;
    width: 120px;
    white-space: normal;
    background-color: var(--lm-base-body-bg-color);
    color: var(--lm-base-text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.dark-mode .custom-tooltip::after {
    background-color: var(--dm-base-body-bg-color);
    color: var(--dm-base-text-color);
}

.custom-tooltip:hover::after, html.show-covers-on-title-hover a[style]:hover::after {
    visibility: visible;
}

.warning {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.copy-me {
    vertical-align: middle;
}

.page-wrapper.with-sidebar[data-sidebar-type~='overlayed-all']
    > .sidebar-overlay {
    background-color: unset;
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.and-or-switch {
	padding: 0;
    width: 3.1rem;
	margin-right: 0.3rem;
    font-size: 0.9rem;
}

/* Change Icon in Light/Dark-Mode toggler depending on current mode */
.dark-mode-toggler i::before {
    content: '\f59a';
}

.dark-mode .dark-mode-toggler i::before {
    content: '\f7ba';
    color: #ff0;
}

#staff-filter {
    display: inline-block;
    margin-right: -36px;
}

.navbar {
    gap: 1rem;
}

.navbar #navsidebar-nav {
    justify-content: flex-end;
}

.navbar #navsidebar-nav .form-control {
    flex-grow: 0;
}

/* Make the A in the logo white or dark depending on light or dark mode is enabled */
#logo-letter {
    fill: #333 !important;
}

.dark-mode #logo-letter {
    fill: #fff !important;
}

.column-filter.form-control::placeholder {
    color: var(--placeholder-color);
    opacity: 0.35;
}

/* TODO: override default Tagify classNames */
/* stylelint-disable selector-class-pattern */

/* Make the userlist select wider */
.navbar #navsidebar-nav .tagify--select {
    min-width: 20rem;
}

/* 2 column formatting of userlist select */
.list-select-dropdown .tagify__dropdown__wrapper .tagify__dropdown__item {
    display: flex;
    padding: 0.5rem;
}

.list-select-dropdown .tagify__dropdown__wrapper .tagify__dropdown__item div {
    display: inline-block;
    white-space: nowrap;
}

.list-select-dropdown .tagify__dropdown__wrapper .tagify__dropdown__item .ch-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2;
}

.list-select-dropdown .tagify__dropdown__wrapper .tagify__dropdown__item .ch-completion {
    justify-content: flex-end;
    text-align: right;
    margin-left: var(--form-inline-horizontal-margin);
    flex: 1;
}

/* stylelint-enable selector-class-pattern */

/* Tagify tags in "exclude mode" */
tag[exclude="true"] {
    --tag-bg: var(--lm-badge-danger-bg-color);
    --tag-hover: var(--lm-badge-danger-bg-color);
}

/* display tag category above the tag group for the Tag filter */
.tagify-dropdown-item-group::before {
    content: attr(data-title);
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 4px 6px;
    font-style: bold;
    background: var(--green-color);
    font-weight: 600;
}

.card h1,
.card h2,
#column-toggles h1,
#column-toggles h5 {
    margin-bottom: 0;
}

/* Specific rules for displaying the changelog */
#changelog-content h1 {
    font-size: var(--modal-title-font-size);
}

#changelog-content h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#changelog-content li {
    margin-bottom: 0;
}

#changelog-content ul ul {
    margin-top: 0;
}

img[src="null"] {
    display: none;
}

.mapper-content {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 769px) {
    .mapper-content {
        grid-template-columns: 50% 50%;
    }

    .mapper-content .card:nth-child(2n+1) {
        margin-left: 0;
    }
    
    .mapper-content .card:nth-child(2n) {
        margin-right: 0;
    }
}

.mapper-content .anilist-entry {
    border-color: var(--primary-color);
    border-width: 2px;
}

/* To differentiate between browser CTRL+F and the automatic marking */
.mapper-content mark.highlight {
    background-color: #ffa500;
}

.mapper-content .multi-check {
    height: 2rem;
    width: 2rem;
}

.mapper-content .content-title {
    font-size: 1.5rem;
}

.mapper-content img {
    min-width: 150px;
    max-height: 233px;
}

.mapper-content .other-titles {
    display: grid;
    margin-bottom: 1rem;
}

.mapper-content .collapse-panel .collapse-header,
.mapper-content .collapse-panel[open] .collapse-header:not(.without-arrow) {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background-position: 0.5rem center;
}

.mapper-content .collapse-content {
    padding: 0.5rem;
}

.loader {
    margin: 0 auto;
    margin-top: 30px;
    grid-column: span 2;
    width: 150px;
    aspect-ratio: 1;
    display: grid;
    color: var(--primary-color);
    background: radial-gradient(farthest-side, currentcolor calc(100% - 10px),#0000 calc(100% - 10px) 0);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 25px),#000 calc(100% - 25px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {    
    content: "";
    grid-area: 1/1;
    background:
        linear-gradient(currentcolor 0 0) center,
        linear-gradient(currentcolor 0 0) center;
    background-size: 100% 25px,25px 100%;
    background-repeat: no-repeat;
}

.loader::after {
    transform: rotate(45deg);
}

@keyframes l19 { 
    100%{transform: rotate(1turn)}
}