/* stylelint-disable selector-class-pattern */
.tagify {
    --placeholder-color: var(--lm-input-placeholder-text-color);
    --placeholder-color-focus: var(--lm-input-placeholder-text-color);
    --tag-bg: var(--lm-badge-success-bg-color);
    --tag-hover: var(--lm-badge-success-bg-color);
    --tag-text-color: var(--lm-badge-success-text-color);
    --tags-border-color: var(--lm-input-border-color);
}

.dark-mode .tagify {
    --placeholder-color: var(--dm-input-placeholder-text-color);
    --placeholder-color-focus: var(--dm-input-placeholder-text-color);
    --tag-bg: var(--dm-badge-success-bg-color);
    --tag-hover: var(--dm-badge-success-bg-color);
    --tag-text-color: var(--dm-badge-success-text-color);
    --tags-border-color: var(--dm-input-border-color);
}

/*
 * Because the dev was so clever to use :root for defining CSS variables it'd mean loading an additional
 * CSS file when dark mode is enabled to override the :root block that would be defined here. So instead
 * we'll just bypass the stupid variables.
 */
.tagify__dropdown[position='text'] {
    box-shadow: 0 0 0 3px rgba(var(--lm-primary-color) / 10%);
}

.dark-mode .tagify__dropdown[position='text'] {
    box-shadow: 0 0 0 3px rgba(var(--dm-primary-color) / 10%);
}

.tagify__dropdown__wrapper {
    background: var(--lm-input-bg-color);
    border-color: var(--lm-primary-color);
}

.dark-mode .tagify__dropdown__wrapper {
    background: var(--dm-input-bg-color);
    border-color: var(--dm-primary-color);
}

.tagify__dropdown__item--active {
    background: var(--lm-primary-color);
    color: #fff;
}

.dark-mode .tagify__dropdown__item--active {
    background: var(--dm-primary-color);
    color: #fff;
}

/* Halfmoon gives inputs a fixed height which needs to get reverted for tagify */
.tagify.form-control {
    height: auto;
    min-height: var(--input-height);
}

.tagify__input {
    padding:  0.3em 0.35em;
}

.fat-free .tagify__input {
    padding: 0 0.35em;
}

/* Align styling with normal selects */
.navbar .tagify--select.form-control {
    cursor: pointer;
    padding-right: 2.5rem;
}

/* Hide the x button as users shouldn't actually leave the field empty. It's supposed to emulate a Select after all */
.tagify--select .tagify__tag__removeBtn {
    display: none;
}

/* override the caret to look the same as the default ones **/
.tagify--select[aria-expanded="true"]::after {
    transform: none;
}

.tagify--select::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    pointer-events: none;
    background-image: var(--select-bg-image);
    background-size: var(--select-bg-size);
    background-repeat: var(--select-bg-repeat);
    transform: none;
    opacity: 1;
    height: var(--input-height);
    background-position: center;
    width: 1rem;
}

.tagify--select {
    --tag-pad: 0 0 0 0.35rem;
    --tag-text-color: var(--lm-input-text-color)
}

.dark-mode .tagify--select {
    --tag-text-color: var(--dm-input-text-color)
}

/* stylelint-enable selector-class-pattern */
