:root {
    --al-dm-color-background: #0b1622;
    --al-dm-color-foreground: #151f2e;
    --al-dm-color-foreground-grey: #0f161f;
    --al-dm-color-foreground-grey-dark: #060c13;
    --al-dm-color-foreground-blue: #0f161f;
    --al-dm-color-foreground-blue-dark: #060c13;
    --al-dm-color-text: rgb(159 173 189);
    --al-dm-color-text-light: rgb(114 138 161);
    --al-dm-color-text-lighter: rgb(133 150 165);
    --al-dm-color-shadow-blue: rgb(0 5 15);
    --al-dm-color-background-1200: rgb(251 251 251);
    --al-dm-color-background-1100: rgb(240 243 246);
    --al-dm-color-background-1000: rgb(221 230 238);
    --al-dm-color-background-900: rgb(201 215 227);
    --al-dm-color-background-800: rgb(173 192 210);
    --al-dm-color-background-700: rgb(139 160 178);
    --al-dm-color-background-600: rgb(116 136 153);
    --al-dm-color-background-500: rgb(100 115 128);
    --al-dm-color-background-400: rgb(81 97 112);
    --al-dm-color-background-300: rgb(30 42 56);
    --al-dm-color-background-100: rgb(21 31 46);
    --al-dm-color-background-200: rgb(11 22 34);
    --al-dm-color-gray-1200: rgb(251 251 251);
    --al-dm-color-gray-1100: rgb(240 243 246);
    --al-dm-color-gray-1000: rgb(221 230 238);
    --al-dm-color-gray-900: rgb(201 215 227);
    --al-dm-color-gray-800: rgb(173 192 210);
    --al-dm-color-gray-700: rgb(139 160 178);
    --al-dm-color-gray-600: rgb(116 136 153);
    --al-dm-color-gray-500: rgb(100 115 128);
    --al-dm-color-gray-400: rgb(81 97 112);
    --al-dm-color-gray-300: rgb(30 42 56);
    --al-dm-color-gray-100: rgb(21 31 46);
    --al-dm-color-gray-200: rgb(11 22 34);

    /* These are colors that weren't stored in css variables on AniList */
    --al-color-nav: #2b2d42;

    /* Taken from a media's Status distribution */
    --al-color-hardcoded-green: #68d639;
    --al-color-hardcoded-blue: #02a9ff;
    --al-color-hardcoded-purple: #9256f3;
    --al-color-hardcoded-pink: #f779a4;

    /* Chooseable profile colors */
    --al-color-user-green: #4abd4e;

    /* other colors */
    --al-color-background: #edf1f5;
    --al-color-foreground: #fafafa;
    --al-color-foreground-grey: #f5f6f6;
    --al-color-foreground-grey-dark: #eaeced;
    --al-color-foreground-blue: #f6f8fb;
    --al-color-foreground-blue-dark: #f1f3f7;
    --al-color-background-blue-dark: #1f232d;
    --al-color-overlay: #1f2631;
    --al-color-shadow: #313644;
    --al-color-shadow-dark: #060d22;
    --al-color-shadow-blue: #6784bb;
    --al-color-text: #5c728a;
    --al-color-text-light: #7a858f;
    --al-color-text-lighter: #9299a1;
    --al-color-text-bright: #edf1f5;
    --al-color-blue: #3db4f2;
    --al-color-blue-dim: #8db2db;
    --al-color-white: #fff;
    --al-color-black: #000;
    --al-color-red: #e85d75;
    --al-color-peach: #fa7a7a;
    --al-color-orange: #f79a63;
    --al-color-yellow: #f7bf63;
    --al-color-green: #7bd555;
    --al-color-background-100: #fbfbfb;
    --al-color-background-200: #edf1f5;
    --al-color-background-300: #dde6ee;
    --al-color-background-400: #c9d7e3;
    --al-color-background-500: #adc0d2;
    --al-color-background-600: #8ba0b2;
    --al-color-background-700: #748899;
    --al-color-background-800: #647380;
    --al-color-background-900: #516170;
    --al-color-background-1000: #404e5c;
    --al-color-background-1100: #26343f;
    --al-color-background-1200: #1b1e1f;
    --al-color-gray-100: #fbfbfb;
    --al-color-gray-200: #edf1f5;
    --al-color-gray-300: #dde6ee;
    --al-color-gray-400: #c9d7e3;
    --al-color-gray-500: #adc0d2;
    --al-color-gray-600: #8ba0b2;
    --al-color-gray-700: #748899;
    --al-color-gray-800: #647380;
    --al-color-gray-900: #516170;
    --al-color-gray-1000: #404e5c;
    --al-color-gray-1100: #26343f;
    --al-color-gray-1200: #1b1e1f;
    --al-color-blue-100: #f7fafc;
    --al-color-blue-200: #ecf6fe;
    --al-color-blue-300: #c9e8ff;
    --al-color-blue-400: #8fd7ff;
    --al-color-blue-500: #6fc8ff;
    --al-color-blue-600: #3db4f2;
    --al-color-blue-700: #088fd6;
    --al-color-blue-800: #0c65a6;
    --al-color-blue-900: #0b4671;
    --al-color-blue-1000: #103d55;
    --al-color-green-100: #f5f9f3;
    --al-color-green-200: #e2f6d9;
    --al-color-green-300: #a0f17e;
    --al-color-green-400: #77dc4c;
    --al-color-green-500: #53af2d;
    --al-color-green-600: #387e1a;
    --al-color-green-700: #2e5a1b;
    --al-color-green-800: #29421f;
    --al-color-red-100: #fff4f6;
    --al-color-red-200: #fed4dc;
    --al-color-red-300: #ff8ca0;
    --al-color-red-400: #ec294b;
    --al-color-red-500: #d50025;
    --al-color-red-600: #a5011d;
    --al-color-red-700: #750014;

    /* Overriding halfmoon variables with anilist variables */
    --dark-color: var(--al-dm-color-background-100);
    --dark-color-light: var(--al-dm-color-background-300);
    --dark-color-dark: var(--al-dm-color-background-200);
    --white-bg-color: var(--al-color-background);
    --light-color: var(--al-color-background);
    --light-color-light: var(--al-color-background);
    --light-color-dark: var(--al-color-foreground);
    --gray-color: var(--al-color-gray-400);
    --gray-color-light: var(--al-color-gray-300);
    --gray-color-very-light: var(--al-color-gray-200);
    --gray-color-dark: var(--al-color-gray-500);
    --gray-color-very-dark: var(--al-color-gray-600);

    /* out of the box lightmode support is shit because there's only one base color compared to 3 dark mode */
    --lm-base-body-bg-color: var(--light-color-light);
    --lm-navbar-bg-color: var(--al-color-nav);
    --lm-sidebar-bg-color: var(--al-color-foreground);
    --lm-dropdown-menu-bg-color: var(--light-color);
    --lm-alert-bg-color: var(--light-color);
    --lm-base-text-color: var(--al-color-text);
    --dm-base-text-color: var(--al-dm-color-text);
    --text-color-on-blue-color-bg: var(--al-color-background);
    --text-color-on-indigo-color-bg: var(--al-color-background);
    --text-color-on-teal-color-bg: var(--al-color-background);
    --text-color-on-green-color-bg: var(--al-color-background);
    --text-color-on-yellow-color-bg: var(--al-color-background);
    --text-color-on-orange-color-bg: var(--al-color-background);
    --text-color-on-red-color-bg: var(--al-color-background);
    --text-color-on-pink-color-bg: var(--al-color-background);
    --blue-color: var(--al-color-blue-500);
    --blue-color-light: var(--al-color-blue-400);
    --blue-color-very-light: var(--al-color-blue-300);
    --blue-color-dark: var(--al-color-blue-600);
    --blue-color-very-dark: var(--al-color-blue-700);
    --blue-box-shadow-color: rgba(var(--blue-color) / 77%);
    --blue-box-shadow-color-darker: var(--blue-color) 99;
    --indigo-color: #6563ff;
    --indigo-color-light: #857cfc;
    --indigo-color-very-light: #e0dcfe;
    --indigo-color-dark: #383677;
    --indigo-color-very-dark: #1f2130;
    --indigo-box-shadow-color: rgba(101 99 255 / 30%);
    --indigo-box-shadow-color-darker: rgba(101 99 255 / 60%);
    --teal-color: #38b2ac;
    --teal-color-light: #5fc0bd;
    --teal-color-very-light: #d2efee;
    --teal-color-dark: #265758;
    --teal-color-very-dark: #1b2a2d;
    --teal-box-shadow-color: rgba(56 178 172 / 30%);
    --teal-box-shadow-color-darker: rgba(56 178 172 / 60%);
    --green-color: var(--al-color-green-400);
    --green-color-light: var(--al-color-green-300);
    --green-color-very-light: var(--al-color-green-200);
    --green-color-dark: var(--al-color-green-500);
    --green-color-very-dark: var(--al-color-green-600);
    --green-box-shadow-color: rgba(var(--green-color) / 77%);
    --green-box-shadow-color-darker: var(--green-color) 99;
    --yellow-color: #ffcf00;
    --yellow-color-light: #ffe04d;
    --yellow-color-very-light: #fff6cc;
    --yellow-color-dark: #8e7710;
    --yellow-color-very-dark: #302c1d;
    --yellow-box-shadow-color: rgba(255 207 0 / 30%);
    --yellow-box-shadow-color-darker: rgba(255 207 0 / 60%);
    --orange-color: #ed8936;
    --orange-color-light: #f09f53;
    --orange-color-very-light: #fbe6d2;
    --orange-color-dark: #6e4623;
    --orange-color-very-dark: #2e2620;
    --orange-box-shadow-color: rgba(237 137 54 / 30%);
    --orange-box-shadow-color-darker: rgba(237 137 54 / 60%);
    --red-color: var(--al-color-red-400);
    --red-color-light: var(--al-color-red-300);
    --red-color-very-light: var(--al-color-red-200);
    --red-color-dark: var(--al-color-red-500);
    --red-color-very-dark: var(--al-color-red-600);
    --red-box-shadow-color: rgba(var(--red-color) / 77%);
    --red-box-shadow-color-darker: var(--red-color) 99;
    --pink-color: #ed64a6;
    --pink-color-light: #ee7db7;
    --pink-color-very-light: #f9dced;
    --pink-color-dark: #6d3655;
    --pink-color-very-dark: #2d212d;
    --pink-box-shadow-color: rgba(237 100 166 / 30%);
    --pink-box-shadow-color-darker: rgba(237 100 166 / 60%);
    --lm-primary-color: var(--al-color-hardcoded-green);
    --dm-primary-color: var(--al-color-hardcoded-green);
    --lm-primary-color-light: var(--green-color-light);
    --dm-primary-color-light: var(--green-color-light);
    --secondary-color: var(--yellow-color);
    --success-color: var(--al-color-hardcoded-green);
    --danger-color: var(--red-color);
    --dm-button-bg-color: var(--al-color-blue);
    --lm-button-bg-color: var(--al-color-blue);
    --dm-button-bg-color-hover: var(--blue-color-light);
    --lm-button-bg-color-hover: var(--al-color-foreground);
    --dm-button-bg-color-focus: var(--blue-color-dark);
    --lm-button-bg-color-focus: var(--al-color-foreground);
    --dm-input-bg-color-hover: var(--dm-input-bg-color);
    --lm-input-bg-color-hover: var(--lm-input-bg-color);
    --dm-input-bg-color-focus: var(--dm-input-bg-color);
    --lm-input-bg-color-focus: var(--lm-input-bg-color);
    --dm-input-text-color: var(--al-dm-color-text);
    --lm-input-text-color: var(--al-color-text);
    --dm-input-text-color-hover: var(--al-dm-color-text);
    --lm-input-text-color-hover: var(--al-color-text);
    --dm-input-text-color-focus: var(--al-dm-color-text);
    --lm-input-text-color-focus: var(--al-color-text);
    --lm-switch-bg-color: var(--light-color-dark);
    --lm-table-striped-bg-color: var(--light-color);
    --dm-button-text-color: var(--al-color-text-bright);
    --lm-modal-content-bg-color: var(--al-color-foreground);
}

.table-striped tbody tr:hover,
.dark-mode .table-striped tbody tr:hover,
.table-striped tbody tr:hover a {
    background-color: var(--al-color-user-green);
    color: var(--al-color-foreground);
}

/* Because the navbar is dark on the light mode we need to make the letter white */
#logo-letter {
    fill: #fff !important;
}