:root {
    /* TODO: outsource dark mode into separate file so we can override colors on root level
       --blue-color currently is DM version which looks bad on LM but due to scoping issues you can't .dark-mode { --blue-color: dm-version} */

    /* Base colors of the gruvbox theme */
    --gruvbox-dark0-hard: #1d2021;
    --gruvbox-dark0-soft: #32302f;
    --gruvbox-dark0: #282828;
    --gruvbox-dark1: #3c3836;
    --gruvbox-dark2: #504945;
    --gruvbox-dark3: #665c54;
    --gruvbox-dark4: #7c6f64;
    --gruvbox-light0-hard: #f9f5d7;
    --gruvbox-light0-soft: #f2e5bc;
    --gruvbox-light0: #fbf1c7;
    --gruvbox-light1: #ebdbb2;
    --gruvbox-light2: #d5c4a1;
    --gruvbox-light3: #bdae93;
    --gruvbox-light4: #a89984;
    --gruvbox-neutral-red: #cc241d;
    --gruvbox-bright-red: #fb4934;
    --gruvbox-faded-red: #9d0006;
    --gruvbox-neutral-green: #98971a;
    --gruvbox-bright-green: #b8bb26;
    --gruvbox-faded-green: #79740e;
    --gruvbox-neutral-yellow: #d79921;
    --gruvbox-bright-yellow: #fabd2f;
    --gruvbox-faded-yellow: #b57614;
    --gruvbox-neutral-blue: #458588;
    --gruvbox-bright-blue: #83a598;
    --gruvbox-faded-blue: #076678;
    --gruvbox-neutral-purple: #b16286;
    --gruvbox-bright-purple: #b16286;
    --gruvbox-faded-purple: #8f3f71;
    --gruvbox-neutral-aqua: #689d6a;
    --gruvbox-bright-aqua: #8ec07c;
    --gruvbox-faded-aqua: #427b58;
    --gruvbox-neutral-orange: #d65d0e;
    --gruvbox-bright-orange: #fe8019;
    --gruvbox-faded-orange: #af3a03;
    --gruvbox-gray: #928374;

    /* Overriding halfmoon variables with gruvbox variables */
    --dark-color: var(--gruvbox-dark1);
    --dark-color-light: var(--gruvbox-dark2);
    --dark-color-dark: var(--gruvbox-dark0);
    --white-bg-color: var(--gruvbox-light1);
    --light-color: var(--gruvbox-light1);
    --light-color-light: var(--gruvbox-light0);
    --light-color-dark: var(--gruvbox-light3);
    --gray-color: var(--gruvbox-light1);
    --gray-color-light: var(--gruvbox-light0);
    --gray-color-very-light: #f7f7f7;
    --gray-color-dark: var(--gruvbox-light3);
    --gray-color-very-dark: #47494d;

    /* out of the box lightmode support is shit because there's only one base color compared to 3 dark mode */
    --lm-base-body-bg-color: var(--light-color-light);
    --lm-navbar-bg-color: var(--light-color-dark);
    --lm-sidebar-bg-color: var(--light-color);
    --lm-dropdown-menu-bg-color: var(--light-color);
    --lm-alert-bg-color: var(--light-color);
    --lm-base-text-color: var(--gruvbox-dark1);
    --dm-base-text-color: var(--gruvbox-light1);
    --text-color-on-blue-color-bg: var(--gruvbox-light0);
    --text-color-on-indigo-color-bg: var(--gruvbox-light0);
    --text-color-on-teal-color-bg: var(--gruvbox-light0);
    --text-color-on-green-color-bg: var(--gruvbox-light0);
    --text-color-on-yellow-color-bg: var(--gruvbox-light0);
    --text-color-on-orange-color-bg: var(--gruvbox-light0);
    --text-color-on-red-color-bg: var(--gruvbox-light0);
    --text-color-on-pink-color-bg: var(--gruvbox-light0);
    --blue-color: var(--gruvbox-faded-blue);
    --blue-color-light: var(--gruvbox-faded-blue);
    --blue-color-very-light: var(--blue-color-light);
    --blue-color-dark: var(--blue-color-light);
    --blue-color-very-dark: var(--blue-color-light);
    --blue-box-shadow-color: rgba(var(--blue-color) / 77%);
    --blue-box-shadow-color-darker: var(--blue-color) 99;
    --indigo-color: #6563ff;
    --indigo-color-light: #857cfc;
    --indigo-color-very-light: #e0dcfe;
    --indigo-color-dark: #383677;
    --indigo-color-very-dark: #1f2130;
    --indigo-box-shadow-color: rgba(101 99 255 / 30%);
    --indigo-box-shadow-color-darker: rgba(101 99 255 / 60%);
    --teal-color: #38b2ac;
    --teal-color-light: #5fc0bd;
    --teal-color-very-light: #d2efee;
    --teal-color-dark: #265758;
    --teal-color-very-dark: #1b2a2d;
    --teal-box-shadow-color: rgba(56 178 172 / 30%);
    --teal-box-shadow-color-darker: rgba(56 178 172 / 60%);
    --green-color: var(--gruvbox-neutral-green);
    --green-color-light: var(--gruvbox-bright-green);
    --green-color-very-light: var(--green-color-light);
    --green-color-dark: var(--green-color-light);
    --green-color-very-dark: var(--green-color-light);
    --green-box-shadow-color: rgba(var(--green-color) / 77%);
    --green-box-shadow-color-darker: var(--green-color) 99;
    --yellow-color: #ffcf00;
    --yellow-color-light: #ffe04d;
    --yellow-color-very-light: #fff6cc;
    --yellow-color-dark: #8e7710;
    --yellow-color-very-dark: #302c1d;
    --yellow-box-shadow-color: rgba(255 207 0 / 30%);
    --yellow-box-shadow-color-darker: rgba(255 207 0 / 60%);
    --orange-color: #ed8936;
    --orange-color-light: #f09f53;
    --orange-color-very-light: #fbe6d2;
    --orange-color-dark: #6e4623;
    --orange-color-very-dark: #2e2620;
    --orange-box-shadow-color: rgba(237 137 54 / 30%);
    --orange-box-shadow-color-darker: rgba(237 137 54 / 60%);
    --red-color: #ff4d4f;
    --red-color-light: #ed586c;
    --red-color-very-light: #f8d0d9;
    --red-color-dark: #8c0e2e;
    --red-color-very-dark: #301923;
    --red-box-shadow-color: rgba(245 34 45 / 30%);
    --red-box-shadow-color-darker: rgba(245 34 45 / 60%);
    --pink-color: #ed64a6;
    --pink-color-light: #ee7db7;
    --pink-color-very-light: #f9dced;
    --pink-color-dark: #6d3655;
    --pink-color-very-dark: #2d212d;
    --pink-box-shadow-color: rgba(237 100 166 / 30%);
    --pink-box-shadow-color-darker: rgba(237 100 166 / 60%);
    --lm-primary-color: var(--gruvbox-neutral-blue);
    --dm-primary-color: var(--gruvbox-bright-blue);
    --secondary-color: var(--gruvbox-neutral-yellow);
    --success-color: var(--gruvbox-neutral-green);
    --danger-color: var(--gruvbox-neutral-red);
    --dm-button-bg-color: var(--gruvbox-dark2);
    --lm-button-bg-color: var(--gruvbox-light2);
    --dm-button-bg-color-hover: var(--gruvbox-dark3);
    --lm-button-bg-color-hover: var(--gruvbox-light3);
    --dm-button-bg-color-focus: var(--gruvbox-dark3);
    --lm-button-bg-color-focus: var(--gruvbox-light3);
    --dm-input-bg-color: var(--gruvbox-dark2);
    --lm-input-bg-color: var(--gruvbox-light2);
    --dm-input-bg-color-hover: var(--gruvbox-dark3);
    --lm-input-bg-color-hover: var(--gruvbox-light3);
    --dm-input-bg-color-focus: var(--gruvbox-dark3);
    --lm-input-bg-color-focus: var(--gruvbox-light3);
    --dm-input-text-color: var(--gruvbox-light1);
    --lm-input-text-color: var(--gruvbox-dark1);
    --dm-input-text-color-hover: var(--gruvbox-light1);
    --lm-input-text-color-hover: var(--gruvbox-dark1);
    --dm-input-text-color-focus: var(--gruvbox-light1);
    --lm-input-text-color-focus: var(--gruvbox-dark1);
    --lm-switch-bg-color: var(--light-color-dark);
    --lm-table-striped-bg-color: var(--light-color);
}
